.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Bona Nova', serif;
    line-height: 1.2;
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
   margin-top: 2rem ;
    font-family: 'Bona Nova', serif;
}
.pragmatic_footer_button{
    margin-bottom: 2rem ;
}


.mw-500 {
    max-width : 500px;
    margin: 1rem 1.5rem;
    line-height: 3.5;
}

.round_button{
    color: black;
    test_decoration: none;
    box-shadow: 3px 3px 10px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover{
    color: dimgrey;

}

.article_image{
    border-radius: 2rem;
    width : 70%;
    box-shadow: 0 0 1rem grey;
}

.article_content{
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem 0;
}